.main-container {
    position: relative;
}
.main-container .title {
    color: #f46969;
}
.show-ans-toast {
    position: absolute;
    z-index: 1;
}
.q {
    color: brown;
}
.eye-icon {
    width: 24px;
    height: 24px;
}
.icon-container {
    cursor: pointer;
}